:root {
	--white: hsl(220deg, 23%, 95%);
	--Rosewater: hsl(10deg, 56%, 91%);
	--Flamingo: hsl(0deg, 59%, 88%);
	--pink: hsl(316deg, 72%, 86%);
	--Mauve: hsl(267deg, 84%, 81%);
	--red: hsl(343deg, 81%, 75%);
	--Maroon: hsl(350deg, 65%, 77%);
	--Peach: hsl(23deg, 92%, 75%);
	--yellow: hsl(41deg, 86%, 83%);
	--green: hsl(115deg, 54%, 76%);
	--teal: hsl(170deg, 57%, 73%);
	--sky: hsl(189deg, 71%, 73%);
	--sapphire: hsl(199deg, 76%, 69%);
	--blue: hsl(217deg, 92%, 76%);
	--lavender: hsl(232deg, 97%, 85%);
	--text: hsl(226deg, 64%, 88%);
	--subtext1: hsl(227deg, 35%, 80%);
	--subtext0: hsl(228deg, 24%, 72%);
	--overlay2: hsl(228deg, 17%, 64%);
	--overlay1: hsl(230deg, 13%, 55%);
	--overlay0: hsl(231deg, 11%, 47%);
	--surface2: hsl(233deg, 12%, 39%);
	--surface1: hsl(234deg, 13%, 31%);
	--surface0: hsl(237deg, 16%, 23%);
	--base2: hsl(229deg, 19%, 23%);
	--base1: hsl(232deg, 23%, 18%);
	--base: hsl(240deg, 21%, 15%);
	--mantle: hsl(240deg, 21%, 12%);
	--crust: hsl(240deg, 23%, 9%);
	--cherryRed: hsl(338deg, 78%, 54%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


pre {
	border: 1px solid var(--base2);
	border-radius: 8px;
	background-color: var(--base2);
	font-family: monospace;
	overflow-x: scroll;
	max-width: 100%;
}

pre code {
	min-width: 35px;
	display: block;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	font-family: monospace;
	font-size: 0.9rem;
}


body {
	background-color: var(--crust);
	height: 100vh;
	font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.6;
	color: var(--text);
}

p {
	padding: 5px;
}

h1,
h2,
h3,
h4,
h5 {
	padding: 5px;
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
	color: var(--lavender);
}

/* visited link */
a:visited {
	color: var(--lavender);
}

/* mouse over link */
a:hover {
	color: var(--cherryRed);
}

/* selected link */
a:active {
	color: var(--green);
}

main {
	max-width: 800px;
	margin: auto;
}

img {
	max-width: 100%;
}

.center_aligned_text {
	text-align: center;
}

#my_pic_home {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: var(--base);
	border: 0px;
	border-radius: 12px;
	max-width: 200px;
}

#my_pic_home:hover {
	box-shadow: 0 0 2px 1px var(--mantle);
}

@media screen and (min-width: 1000px) {}

header h1 {
	text-align: center;
}

footer {
	text-align: center;
	clear: both;
}

#footer_svg {
	padding: 5px;
}

#footer_svg:hover {}

/* For TAGLIST.HTML */
.taglist {
	text-align: center;
	clear: both;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}

#prevart {
	float: left;
	text-align: left;
}

#nextart {
	float: right;
	text-align: right;
}

#nextart,
#prevart {
	max-width: 33%;
}

p {
	padding: 15px;
}

h1 {
	padding-top: 15px;
}

.container {
	max-width: 95%;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	margin-left: auto;
	margin-right: auto;
}

#navbar {
	--navbar-height: 74px;
	/*	position: fixed; */
	height: var(--navbar-height);
	background-color: var(--base);
	left: 0;
	right: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.navbar-item {
	margin: 0.4em;
	width: 100%;
}

.home-link,
.navbar-link {
	color: var(--text);
	text-decoration: none;
	display: flex;
	font-size: 25px;
	font-weight: 400;
	align-items: center;
}

.home-link:is(:focus, :hover) {
	color: var(--cherryRed);
}

.navbar-link {
	justify-content: center;
	width: 100%;
	padding: 0.4em 0.8em;
	border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
	color: var(--cherryRed);
	background-color: var(--base2);
}

.navbar-logo {
	background-color: var(--text);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-right: 0.5em;
}

#navbar-toggle {
	cursor: pointer;
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.icon-bar {
	display: block;
	width: 25px;
	height: 4px;
	margin: 2px;
	background-color: var(--text);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
	background-color: var(--text);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
	position: absolute;
	margin: 0;
	width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
	transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
	opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
	transform: rotate(-45deg);
}

#navbar-menu {
	position: fixed;
	top: var(--navbar-height);
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	left: 0;
	right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	visibility: visible;
}

.navbar-links {
	list-style: none;
	position: absolute;
	background-color: var(--base);
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0;
	right: 0;
	margin: 1.4rem;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
	padding: 1em;
}

@media screen and (min-width: 1000px) {

	#navbar-toggle,
	#navbar-toggle[aria-expanded="true"] {
		display: none;
	}

	#navbar-menu,
	#navbar-toggle[aria-expanded="true"] #navbar-menu {
		visibility: visible;
		opacity: 1;
		position: static;
		display: block;
		height: 100%;
	}

	.navbar-links,
	#navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
		margin: 0;
		padding: 0;
		box-shadow: none;
		position: static;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}
}
