.direnv/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
.DS_Store
node_modules
Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
.hugo_build.lock
public
resources
*/.DS_Store
node_modules
.DS_Store
example-site/resources/_gen
example-site/public
