<footer class="text-center">
    <div>
        <br><br>
        <div class="flex justify-center">
            {{- if .Param "showgithub" }}<a class="p-2" href="https://github.com/abhi-xyz/" target="_blank"><img
                    src="/images/icons/github.svg" style="max-height:1.5em" alt="GitHub"
                    title="Subscribe via RSS for updates."></a>{{
            end }}
            {{- if .Param "showemail" }}<a class="p-2" href="mailto:abhinandhsuby@proton.me"><img
                    src="/images/icons/mail.svg" target="_blank" style="max-height:1.5em" alt="Email"
                    title="Subscribe via RSS for updates."></a>{{
            end }}
            {{- if .Param "showrss" }}<a class="p-2" href="/index.xml" target="_blank"><img src="/images/icons/rss.svg"
                    style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>{{ end }}
            {{- if .Param "showx" }}<a class="p-2" href="https://x.com/Ungraduate_Abhi" target="_blank"><img
                    src="/images/icons/twitter.svg" style="max-height:1.5em" alt="Twitter"
                    title="Subscribe via RSS for updates."></a>{{
            end }}
        </div>
        <p class="p-3">
            The website’s source code is licensed under the <a href="https://opensource.org/license/mit">MIT License</a>
            and is available <a href="https://github.com/abhi-xyz/abhi-xyz.github.io">here</a>.
            Articles are licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">Creative
                Commons with the Share-alike Clause (CC-BY-SA 4.0)</a>.
        </p>
        <br>
        <br>
    </div>
</footer>
