{{ define "main" -}}
{{ .Content }}

<header class="text-center">
  <h1>Hello Friends</h1>
  <h1>Welcome to my corner of Internet</h1>
</header>

<!-- <img id="my_pic_home" src="/images/me.avif" alt="my picture">
<p class="center_aligned_text">this is me</p>
 -->

<h2>About me</h2>

<p>
  I'm Abhinandh S. I am a 21 old guy from India, who loves computers and softwares.
</p>
<p>
  This place is home for all my psychological dysfunctioning. A place where I am in control, with no censorship or
  manupilation.
</p>
<br>
<h2>Recent post</h2>
<ul class="p-2 list-none">
  {{ range .Site.RegularPages }}
  <li class="p-0 m-0 list-none">
    <h4 class="py-1 m-0"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h4>
    {{ end }}
  </li>
</ul>
{{- end }}
